body {
  font-family: "Cabin", sans-serif;
  color: #373a3c;
}
header {
  padding-left: 7.5%;
  padding-right: 7.5%;
}
header img {
  max-height: 90%;
}
footer h1 {
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
}
#logo {
  font-family: "Lobster", sans-serif;
  font-size: 40px;
}
#carrusel {
  padding-left: 7.5%;
  padding-right: 7.5%;
}
#receta {
  width: 100%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  text-align: left;
}
#newsletter {
  padding-top: 5cm;
  padding-bottom: 5cm;
}
#newsletter h2 {
  padding-bottom: 1cm;
}
/* esconder carrusel y linea */
@media screen and (max-width: 600px) {
  #carrusel {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #lineacarrusel {
    display: none;
  }
}
/* Función dobleclick */
.negro {
  color: #373a3c;
}
.rojo {
  color: red;
}
